/* La note enchantée */

/* nom du restaurant */

.nomrestaurant {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Verdana;
    margin-top: 60px;
    margin-bottom: 30px;
}

/* menu */

.menu {
    border: 1px solid #aaa;
    width: 800px;
    height: 1100px;
    box-shadow: 8px 8px 12px #aaa;
    background-color: #FCDFDB;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.titrehaut {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "devonshire";
    color: #3D1319;
    font-size: 45px;
}

.titrehaut i {
    height: 80px;
    font-size: 70px;
    background: linear-gradient(to right, #F0525B 0%, #F6916A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.entree {
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.titre {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "segoe";
    font-size: 25px;
}

.titre img {
    text-align: center;
    width: 200px;
    height: 17px;
    margin-top: 15px;
}

.desc {
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "segoe";
    font-size: 15px;
}

.prix {
    text-align: right;
    font-family: "devonshire";
    font-size: 20px;
}

.plat {
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.dessert {
    /*  border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.titrebas {
    margin-top: 50px;
    text-align: center;
    font-family: "devonshire";
    color: #3D1319;
    font-size: 45px;
}

.titrebas i {
    height: 50px;
    background: linear-gradient(to right, #F0525B 0%, #F6916A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

/* Responsive */

@media screen and (min-width: 580px) and (max-width: 780px) {
    .menu {
        width: 500px;
        height: 1300px;
        margin-top: 100px;
        margin-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .titre img {
        text-align: center;
        width: 100px;
        height: 17px;
        margin-top: 15px;
    }

    .desc {
        font-size: 12px;
    }

}

@media screen and (max-width: 579px) {
    .menu {
        width: 350px;
        height: 1400px;
        margin-top: 100px;
        margin-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .nomrestaurant {
        font-size: 25px;
    }

    .titre {
        font-size: 17px;
    }

    .titre img {
        text-align: center;
        width: 50px;
        height: 17px;
        margin-top: 15px;
    }

    .desc {
        font-size: 12px;
    }

    .prix {
        text-align: right;
        font-family: "devonshire";
        font-size: 20px;
        margin-left: 10px;
    }

}