/* La note enchantée */

/* nom du restaurant */

.nomrestaurant {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Verdana;
    margin-top: 60px;
    margin-bottom: 30px;
}

/* menu */

.menu {
    border: 1px solid #aaa;
    width: 800px;
    height: 1100px;
    box-shadow: 8px 8px 12px #aaa;
    background-color: #FFF5FE;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.titrehaut {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "croissant";
    font-size: 45px;
    background: linear-gradient(to right, #E38A12 0%, #8F5AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.titrehaut img {
    height: 80px;
}

.entree {
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.titreentree {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "ttpub";
    font-size: 25px;
    margin-top: 50px;
    color: #C67412;
}

.titreentree img {
    text-align: center;
    width: 182px;
    height: 17px;
    margin-top: 7px;
}

.titreplat {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "ttpub";
    font-size: 22px;
    color: #A56799;
}

.titreplat img {
    text-align: center;
    width: 200px;
    height: 17px;
    margin-top: 15px;
}

.titredessert {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "ttpub";
    font-size: 22px;
    color: #6E4CCC;
}

.titredessert img {
    text-align: center;
    width: 200px;
    height: 17px;
    margin-top: 15px;
}

.desc {
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.prix {
    text-align: right;
    font-size: 20px;
}

.plat {
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.dessert {
    /*  border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.titrebas {
    margin-top: 50px;
    text-align: center;
    font-family: "devonshire";
    color: #3D1319;
    font-size: 45px;
}

.titrebas img {
    height: 50px;
}