/* La note enchantée */

/* nom du restaurant */

.nomrestaurant {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Verdana;
    margin-top: 60px;
    margin-bottom: 30px;
}

/* menu */

.menu {
    border: 1px solid #aaa;
    width: 800px;
    height: 1000px;
    box-shadow: 8px 8px 12px #aaa;
    background-color: #FFF5FE;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.titrehaut {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "croissant";
    font-size: 45px;
    background: linear-gradient(to right, #E38A12 0%, #8F5AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.titrehaut img {
    height: 80px;
}

.entree {
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.titreentree {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "ttpub";
    font-size: 25px;
    margin-top: 50px;
    color: #C67412;
}

.titreentree h2 {
    position: relative;
    margin: 0;
    font-size: 20px;
}

.titreentree h2:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #C67412;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.titreentree h2:hover:before {
    visibility: visible;
    width: 100%;
}


.titreentree img {
    text-align: center;
    width: 182px;
    height: 17px;
    margin-top: 7px;
}

.titreplat {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "ttpub";
    font-size: 22px;
    color: #A56799;
}

.titreplat img {
    text-align: center;
    width: 200px;
    height: 17px;
    margin-top: 15px;
}

.titreplat h2 {
    position: relative;
    margin: 0;
    font-size: 20px;
}

.titreplat h2:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A56799;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.titreplat h2:hover:before {
    visibility: visible;
    width: 100%;
}

.titredessert {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "ttpub";
    font-size: 22px;
    color: #6E4CCC;
}

.titredessert img {
    text-align: center;
    width: 200px;
    height: 17px;
    margin-top: 15px;
}

.titredessert h2 {
    position: relative;
    margin: 0;
    font-size: 20px;
}

.titredessert h2:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6E4CCC;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.titredessert h2:hover:before {
    visibility: visible;
    width: 100%;
}

.desc {
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.prix {
    text-align: right;
    font-size: 20px;
}

.plat {
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.dessert {
    /*  border: 1px solid black; */
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.titrebas {
    margin-top: 50px;
    text-align: center;
    font-family: "devonshire";
    color: #3D1319;
    font-size: 45px;
}

.titrebas img {
    height: 50px;
}

/* Responsive */

@media screen and (min-width: 580px) and (max-width: 780px) {
    .menu {
        width: 500px;
        height: 1100px;
        margin-top: 100px;
        margin-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .titreentree {
        font-size: 20px;
    }

    .titreentree img {
        text-align: center;
        width: 100px;
        height: 17px;
        margin-top: 15px;
    }

    .titreplat {
        font-size: 20px;
    }

    .titreplat img {
        text-align: center;
        width: 100px;
        height: 17px;
        margin-top: 15px;
    }

    .titredessert {
        font-size: 20px;
    }

    .titredessert img {
        text-align: center;
        width: 100px;
        height: 17px;
        margin-top: 15px;
    }

    .desc {
        font-size: 12px;
    }

}

@media screen and (max-width: 579px) {

    .menu {
        width: 350px;
        height: 1200px;
        margin-top: 100px;
        margin-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .nomrestaurant {
        font-size: 25px;
    }

    .titrehaut {
        font-size: 25px;
    }

    .titreentree {
        font-size: 17px;
    }

    .titreentree img {
        text-align: center;
        width: 50px;
        height: 17px;
        margin-top: 15px;
    }

    .titreplat {
        font-size: 17px;
    }

    .titreplat img {
        text-align: center;
        width: 50px;
        height: 17px;
        margin-top: 15px;
    }

    .titredessert {
        font-size: 17px;
    }

    .titredessert img {
        text-align: center;
        width: 50px;
        height: 17px;
        margin-top: 15px;
    }

    .desc {
        font-size: 12px;
        display: inline-block;
        text-align: center;
    }

    .prix {
        text-align: center;
        font-family: "devonshire";
        font-size: 20px;
        margin-left: 10px;
    }

}